[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

[Mm]emoryCaptures/
[Rr]ecordings/

.vs/
.vscode/

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

sysinfo.txt

.idea/
.DS_Store
Thumbs.db

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og*/